.navbar{
    width: 100%;
    height: 70px;
    background-color: rgba(100,150,255,100%);
    border-radius: 40px;
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
    padding-right: 10px;



}
.navbar-menu li{
    display: inline-block;
    float: left;
    position: relative;
    right: 30px;
    background-color: rgba(30,30,30,50%);
    border-radius: 20px;



}
.navbar-menu li.first{
    right: 980px;
}
.navbar-menu li.second{
    right: 970px;


}
.navbar-menu li a{
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
    font-size: 23px;

}
.navbar-menu li a:hover {
    opacity: 1;


}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;

}
.navbar-icon{
    font-size: 30px;
    transition: all .1s ease-in-out;



}
.navbar-icon:hover{
    transform: scale(1.05);
}
