{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gameshop</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'main_page' %}"  class="navbar-icon">
                    <img src="media/home_icon.png" alt="gameshop" height="60" wight="60">
                </a>
                    <ul class="navbar-menu">
                        <li id="buy">
                          <a href="">Купить</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'sell' %}">Продать</a>
                        </li>
                        {% else %}
                        <li id="sell">
                            <a href="{% url 'login' %}">Продать</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="last">
                        {% if request.user.is_authenticated %}
                        <li style="color:white">{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
				        {% else %}
                        <li><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				        {% endif %}
                    </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>